@charset "utf-8";
/* CSS Document */

/* Colors */
/* #0088cc - teal           */
/* #00334d - dk blue 		*/
/* #173b4d - dk teal 		*/
/* #006699 - med teal  		*/
/* #40a3d5 - lt teal        */
/* #424b4d - dk gray		*/
/* #b1c8cc - lt gray 		*/
/* #f7941d - orange         */

/* GENERAL STYLES */
body {
	background-image: url(../images/backgrounds/world.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
	background-color:#000;
	color: #fff;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-family: "Open Sans", sans-serif;
	color: #40a3d5;
	padding-top: 10px;
	padding-left: 10px;
	text-transform: uppercase;
	font-size: 2.5em;
}

h3 {
	font-weight: normal;
	color: #FFF;
	font-family: "Open Sans", sans-serif;
	font-size: 1.7em;
	line-height: 30px;	
	margin-left: .5em;
	margin-right: .7em;
	text-transform: uppercase;
}

h3.blue-text {
	color: #0088cc;
}

h4 {
	color: #74abc6;
	font-weight: normal;
}

img.icon {
	display: block;
	margin-left: auto;
	margin-right: auto; 
}

.center img {
padding: none;	
}

img.pull-right {
	padding-left: 20px;
	padding-bottom: 20px;
}


p {
	color: #FFF;
	margin-left: .7em;
	padding: 0 .5em 0 0;
	font-size: 1.2em;	
}

.main-content {
	/*margin-top: 20px;*/
}

.center  {
	text-align: center;	
}

li.active {
	font-weight: bold;
}

ul {
	list-style-type: none;
}

address {
	color: #F60;
}

.media-heading {
	margin-left: 10px;
	font-weight: bold;
	color: #0088cc;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.media-heading a {
	color: #0088cc;
}

.box-container {
	overflow: hidden;
	padding-bottom: 20px;
}

.row-fluid .leftBox {
	background-color: #424b4d;
	margin-bottom: -100% ;
	padding: 10px 10px 100% 10px;
	width: 33.333%;
}

.row-fluid .middleBox {
	background-color: #173b4d;
	margin-bottom: -100%;
	margin-left: 0px;
	padding: 10px 10px 100% 10px;
	width: 33.33333%;
}

.row-fluid .rightBox {
	background-color: #424b4d;
	margin-bottom: -100%;
	margin-left: 0px;
	margin-right: 0px;
	padding: 10px 10px 100% 10px;
	width: 33.3333%;
}

.title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: capitalize;
	color: rgba(255,255,255,1);
}

/* HEADER & NAVBAR STYLES */

header {
	margin-top: 20px;
}

header img {
	padding-left: .5em;
	padding-top: .5em;
}

header .row-fluid {
	background: #000;
	border-top: #0088cc 2px solid;
	/*-webkit-box-shadow: 0px 15px 40px -5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 15px 40px -5px rgba(106, 106, 106, 0.7);
	box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.8); */
}

.navbar-inverse .navbar-inner {
	background-color: #000;
	border: none;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
	padding-top: 1em;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

/* SIDEBAR STYLES */

.sidebar-nav small p { color: #4d4d4d; }

p.blue-text {
	color: #0088cc;
	margin-bottom: 0px;
	margin-top: 5px;
}

.accordion-inner {
	padding-left: 0px;
	padding-right: 3px;
}

.accordion-heading {
	font-weight: bold;
}

/* PROFILE PAGE STYLES */

.profileBox {
	background-color:#fff;
	padding: 13px;
	margin-bottom: 20px;
	border-top: 5px solid #0088cc;
}

.profileBox h2 {
	color:#000;
	font-family:'Nunito', sans-serif;
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1.6em;
	text-transform:uppercase;
	margin-top: 0px;
}

.row-fluid.profileHeaderBox {
	background: url(../images/bannerUserName.png);
}

.row-fluid.profileHeaderBox h1 {
	font-family: 'Droid Sans', sans-serif;
	color: #fff;
	padding-left: 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.pull-right.profileIcon {
	padding: 15px 20px 10px 10px;
}

.profileBox p {
	font-family:Arial, sans-serif;
	font-size: 1em;
	color: #666;
}

/* SHADOW  & BACKGROUND STYLES */

.shadow-effect {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
}

.shadow-effect:before, .shadow-effect:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0,0.8);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
	top:10px;
	bottom: 10px;
	left: 0;
	right: 0;
	-moz-border-radius: 100px / 10px;
	border-radius: 100px / 10px;
}

.shadow-effect:after {
	right: 10px;
	left: auto;
	-webkit-transform: skew(8deg) rotate(3deg);
	-moz-transform: skew(8deg) rotate(3deg);
	-ms-transform: skew(8deg) rotate(3deg);
	-o-transform: skew(8deg) rotate(3deg);
	transform: skew(8deg) rotate(3deg);
}

.pattern-background {
	/*background: #666;*/
	height: auto;
	padding-bottom: 1.5em;
	background: url(../images/textures/darkdenim3.png) repeat;
	background-repeat: repeat;
}

.patch-well {
  color: #FFF;
  background: url(../images/textures/darkdenim3.png) repeat;
  padding: 15px;
  /*text-align: left;*/
  /*float:left;*/
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

/* CAMERA SLIDESHOW STYLES */

.camera_wrap {
	position: relative;
	margin-bottom: 60px !important;
}

.caption {
	position: absolute; 
	background: none;
	text-align: center;
	top: 20%;
	width: inherit;
	text-transform: uppercase;
	font-weight: normal;
}
.caption-left {	
	left: 10px;
	width: 40%;
}

.caption a {
	text-decoration: none;
}

.caption a:hover {
	color: #F60;
}

.caption h2 {
	color: #0088cc;
	border-bottom: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 6em;
	margin-bottom: .2em;
	margin-top: .2em;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	padding-bottom: 10px;
}

.caption h3 {
	color: #fff;
	border-bottom: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 3em;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-weight: normal;
}

/* FORM STYLES */
.input-prepend input {
    width:87%;
}

textarea {
    width:96%;
}

legend {
	color: #b1c8cc;
	/*color: rgba(0,204,255,1);*/
	font-size: 18px;
	text-transform: uppercase;
}

input type=["text"] {
	border-radius: 0px !important;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: auto;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}
select {
    padding: 0;
    height: 30px;
}
.table .center { text-align: center; }
tbody tr td {
    background: #fff;
}
tbody .hover:hover td {
    background: #e3e3e3;
}
tbody,
td { color: #333; }
table .checkbox {
    text-align: center;
}
table .checkbox [type="checkbox"] {
    float: none;
    margin: 0;
}
.tipContent { display: none; }
input:focus + .tipContent {
	display: block;
	background: #0c8bc2;
	padding: 5px;
	margin-top: 5px;
	text-align: center;
}

p.error {
	background: #666;
	border: 1px solid #ff0000;
	padding-left: 5px;
}

#btnSaveExit:hover + .tipContent {
	display: block;
	background-color: #0c8bc2;
	padding: 5px;
	margin-top: 5px;
	text-align: center;
}

.progress-bar {
	padding: 25px 0 15px 0;
}

/* FOOTER STYLES */
.footer {
	height: auto;
	/*padding-top: 20px;*/
}

footer .container {
	background-color: #000;
	/*background-image: url(../images/textures/darkdenim3.png);
	background-repeat: repeat;*/
	/*background: url(../images/textures/darkdenim3.png) repeat;*/
}

.span12 .footer-links {
	padding: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #222;	
	width: 90%;
	margin: 0 auto;
}

ul.footer-links.inline {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

ul.footer-links.inline a {
	padding-right: 15px;
}


/* STYLES FOR TEXT ON CAMERA SLIDESHOW FOR SMALLER SCREENS */
@media(min-width: 1200x) {
  .caption h2 {
    font-size: 5em;
  }
  .caption h3 {
	font-size: 2.5em;
  }
}
@media(min-width: 768px) and (max-width: 979px) {
  .caption h2 {
    font-size: 5em;
	margin-bottom: .2em;
	margin-top: .2em;
  }
  .caption h3 {
	font-size: 2.5em;
  }
}
@media(min-width: 481px) and (max-width: 767px) {
  .caption h2 {
    font-size: 4em;
	margin-bottom: .2em;
	margin-top: .2em;
  }
  .caption h3 {
	font-size: 2.7em;
	margin-bottom: .2em;
	margin-top: .2em;
  }
  div.navbar-inner {
	width: 40%;
	float: right;
	padding-bottom: .5em;
  }
  div.span6.inline {
	width: 50%;
	float: left;
  }
  .row-fluid .leftBox, .row-fluid .middleBox, .row-fluid .rightBox {
  	padding: 20px 20px 105% 20px;
  	width: 100%;
  }
}
@media(min-width: 0px) and (max-width: 480px) {
  .caption h2 {
    font-size: 2.7em;
	margin-bottom: 0em;
	margin-top: 0em;
  }
  .caption h3 {
	font-size: 1.5em;
	margin-bottom: 0;
	margin-top: 0;
  }
  .caption-left {
	width: 50%;
  }
  div.navbar-inner {
	width: 40%;
	float: right;
	padding: 0em;
  }
  div.span6.inline {
	width: 40%;
	float: left;
  }
   .row-fluid .leftBox, .row-fluid .middleBox, .row-fluid .rightBox {
  	padding: 20px 20px 105% 20px;
  	width: 100%;
  }
}
.progress { background: #dddbd7; }
