/*
 * Main CSS file for Locator's Admin Side
 * /assets/admin/css/main.css
 *
 * This file contains general stylings for
 * the brunt of the admin side, other more
 * specific styles would be found in their
 * corresponding css files, within this
 * directory
 *
 * -joel felsinger
 *
 */

/******************
*     General     *
*******************/

* { margin: 0;
    padding: 0; }

body {
    color: #000;
    font-family: ;
    font-size: ;
    background: ;
    line-height: 20px;
}

/* links */ 
a, 
a:visited {
    }
    a:hover,
    a:focus {
        }
    a: {
        }

/* headings */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}
h1 {
}
h2 {
    line-height: 40px;
    font-size: 42px;
}
h3 {
    font-size: 34px;
}
h4 {
    font-size: 28px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
}

/* common classes */
.left   { float: left;  }
.right  { float: right; }
.clear  { clear: both;  }
.clearL { clear: left;  }
.clearR { clear: right; }

/* form elements */
label {
    font-family: verdana, arial, sans-serif;
    font-size: 9px;
    font-weight: bold;
    width: 55%;
    display: block;
}

input[type=text],   input[type=tel],    
input[type=email],  input[type=url],   
input[type=search], input[type=password],   
textarea { /* include only text-like input types */
    width: 165px;
    padding: 4px 6px;
    margin: 0 20px 20px 0;
    display: block;
    box-sizing: initial;
}

    textarea {
        width: 96.5%;
        height: 140px;
        resize: vertical;
    }

    input[name=address1],
    select[name=placeType] { 
        margin-bottom: 1px; }

    input.address2 {
        position: relative;
        bottom: 15px;
    }

    .autocomplete.places {
        width: 95%;
    }

    fieldset { 
        padding: 10px;
        margin-bottom: 20px;
        border: 2px solid #eee; }

select {
    min-width: 165px;
    height: 28px;
    margin: 0 20px 20px 0;
}

input[type=submit], button {
    padding: 4px 6px;
    margin-bottom: 20px;
}

/* column stylings */
    .colh, .colh_fw { 
        margin-right: 2%; 
        float: left; }

    .colh, .col100 
        { padding: 2%; }

    .colh       { width: 44%;   }

    .colh_fw    { width: 46%;   }

    .col100     { width: 96%;   }
    .col100_fw  { width: 100%;  }

    .last { margin-right: 0; }
/*   ***********   */

/* table stylings */
table {
    text-align: left;
    margin-bottom: 20px;
    border-collapse: collapse;
    clear: both;
}

    tr:hover {
        background: #e0e0e0;
    }

        td, th {
            padding: 4px 6px;
            border: 1px solid #969696;
        }

        th {ckground: #ffffff; /* Old browsers */
            border: 1px solid #b9b9b9;
            background:    -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
            background:      -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
            background:     -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
            background:   linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        }

/*   **********   */

/* etc */
p {}

    p.message {
        color: #303030;
        padding: 10px;
        margin-bottom: 2em;

        border-radius: 2px;

        -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3);
        -moz-box-shadow:    0 2px 3px rgba(0,0,0,.3);
        -ms-box-shadow:     0 2px 3px rgba(0,0,0,.3);
        -o-box-shadow:      0 2px 3px rgba(0,0,0,.3);
        box-shadow:         0 2px 3px rgba(0,0,0,.3);
    }
    p.message.failure { background: #cc7373; }
    p.message.success { background: #9ecc73; }

ul { list-style: inside; }
    li {}

dl {
    margin-bottom: 20px;
}
    dl:after {
        content: " ";
        display: block;
        clear: both;
        }

    dt {
        font-weight: bold;
        width: 40%;
        margin-bottom: 20px;
        float: left;
        clear: both;
    }
        dt:hover,
        dt:hover + dd {
            background: #e0e0e0;
        }
        dt:after {
            content: ":";
            }

    dd {
        width: 50%;
        margin: 0 10% 20px 0;
        float: left;
    }

address {}

/******************
*     Header      *
*******************/
header { margin-bottom: 40px; }

    header:after {
        content: " ";
        display: block;
        clear: both;
        }

    header h1 { float: left; }

    .userInfo {
        float: right;
        text-align: right; }

/******************
*      Main       *
*******************/
.notes { display: none; }

.main {
    width: 70%;
    padding: 20px 5%; 
    float: right;
}

    .bottomList ul { list-style: none; }

    .content > div,
    .content > article,
    .content > section {
        padding: 20px;
        border: 1px solid #eaeaea;
        box-shadow: 2px 4px 12px rgba(0,0,0,.4);
        position: relative;
    }
        .content > div:after,
        .content > article:after,
        .content > section:after {
            content: " ";
            display: block;
            clear: both;
            }

        .content header { margin-bottom: 20px; }

        .content > article section {
            border: 1px solid #e0e0e0;
        }

    .content ul { margin-bottom: 1em; }

        .content table {
            width: 100%;
        }

.sidebar {
    width: 20%;
    float: left;
    position: relative;
    box-shadow: 2px 4px 12px rgba(0,0,0,.24) inset;
    border-bottom: 1px solid #afafaf;
}
    h2.current {
        text-align: center; 
        font-size: 18px;
        padding: 20px 0;
        margin: 0;
    }

    .sidebar ul { list-style: none; }
        .sidebar > nav > ul > li > a:visited,
        .sidebar > nav > ul > li > a {
            font-family: verdana, helvetica, sans-serif;
            color: #000;
            text-decoration: none;
            text-align: center;
            display: block;
            padding: 5px 0;
            border: 1px solid   #8f8f8f;
            border-left-color:  #c0c0c0;
            border-top-color:   #e0e0e0;
            border-right-color: #b9b9b9;
            }
        .sidebar > nav > ul > li > a:hover {
            background: #efefef;
            }

            .sidebar dt {
                width: auto;
                float: none;
            }
            .sidebar dd { margin-bottom: 10px; }

        .sidebar > nav > ul > li div {
            max-height: 0;
            -webkit-transition: all 1s;
            overflow: hidden;
            box-shadow: 0 0 6px rgba(0,0,0,.3) inset;
        }
        .sidebar > nav > ul > li:hover div {
            max-height: 400px;
            }
            .sidebar div a {
                display: block;
                padding: 6px 0 6px 20px;
                border-bottom: 1px solid #eaeaea;
                border-right: 1px solid #eaeaea;
                background: #fff;
                position: relative;
            }
            .sidebar div a:hover {
                background: #efefef;
            }


/******************
*      Footer     *
*******************/
.bottomList {
    width: 100%;
    padding-top: 20px;
    border: none !important;
}

    .bottomList h4 {
        padding: 0 2%;
    }

    .bottomList ul {
        border: 1px solid #e0e0e0;
        border-top: none;
        border-bottom: none;
    }

        .bottomList li {
            border-top: 1px solid #efefef;
            border-bottom: 1px solid #aeaeae;
            background: #fff;
            position: relative;
            overflow: hidden;
        }

            .bottomList a {
                position : relative;
                z-index: 10;
            }

            .bottomList li div {
                padding: 0 2%;
            }

            .bottomList h5 {
                margin: 0;
                padding: 10px 2%;

                background: rgb(255,255,255); /* Old browsers */
                background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
                background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
            }

                .bottomList h5:after {
                    content: "+";
                    color: #fff;
                    font-size: 13px;
                    font-weight: bold;
                    text-align: center;
                    width: 12px;
                    height: 14px;
                    padding: 0 4px 4px 3px;
                    background: #588b58;
                    display: block;
                    position: absolute;
                    top: 12px;
                    right: 20px;

                    border-radius: 50%;

                    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.5) inset;
                    -moz-box-shadow:    1px 2px 4px rgba(0,0,0,.5) inset;
                    -ms-box-shadow:     1px 2px 4px rgba(0,0,0,.5) inset;
                    -o-box-shadow:      1px 2px 4px rgba(0,0,0,.5) inset;
                    box-shadow:         1px 2px 4px rgba(0,0,0,.5) inset;

                    text-shadow: 0 1px 2px rgba(0,0,0,.3);
                }

                .bottomList .select:checked ~ h5:after {
                    content: "-";
                    background: #8b5858;
                    line-height: 15px;
                    padding: 0 3px 4px 4px;
                }

                .bottomList h5 a,
                .bottomList h5 a:visited {
                    color: #679ccc;
                    font-family: verdana, arial, helvetica, sans-serif;
                    font-size: 14px;
                    text-decoration: none;
                    }
                .bottomList h5 a:active,
                .bottomList h5 a:hover,
                .bottomList h5 a:focus {
                    text-decoration: underline;
                }

            .bottomList .select {
                width: 100%;
                height: 40px;
                display: block;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }

            .bottomList div.more { 
                max-height: 0;
                overflow: hidden;
                box-shadow: 0 2px 8px rgba(0,0,0,.2) inset;

                -webkit-transition: all 1.2s ease;
            }

                .bottomList dl { padding-top: 20px; }

            .bottomList .select:checked ~ div.more {
                max-height: 1200px;
                padding-bottom: 20px;
            }



/******************
*     Special     *
*******************/
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*** sliding radio switches ***/
.radioSwitch {
    width: 80px;
    height: 20px;
    margin-bottom: 20px;
    background: #f5f5f5;
    position: relative;

    border-radius: 10px;
}

    .radioSwitch .switch {
        width: 78px;
        height: 18px;
        margin: 1px;
        display: block;
        background: #a0ffae;
        border-radius: 9px;
        position: absolute;

        -webkit-transition: all .3s ease;
        -moz-transition:    all .3s ease;
        -ms-transition:     all .3s ease;
        -o-transition:      all .3s ease;
        transition:         all .3s ease;
    }
        .radioSwitch .switch:after {
            content: " ";
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            top: -1px;
            right: -1px;
            background: #a0a0a0;

            border-radius: 50%;

            background: #f6f8f9; /* Old browsers */
            background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
                            
            -webkit-box-shadow: 0 0 6px rgba(0,0,0,.45);
            -moz-box-shadow:    0 0 6px rgba(0,0,0,.45);
            -ms-box-shadow:     0 0 6px rgba(0,0,0,.45);
            -o-box-shadow:      0 0 6px rgba(0,0,0,.45);
            box-shadow:         0 0 6px rgba(0,0,0,.45);
        }

    .radioSwitch input {
        width: 120px;
        height: 40px;
        background: #faa;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
    }
    .radioSwitch input:checked { z-index: -1; }

    .radioSwitch > :checked ~ .switch { width: 18px; }
    .radioSwitch > input+:checked ~ .switch { width: 78px; }
    .radioSwitch > input+:checked ~ .switch:before { width: 18px; left: auto; right: 0; }

    .radioSwitch label {
        display: inline;
        position: relative;
        top: 17px;
    }

    .radioSwitch label.right {
        text-align: right;
    }
/*** end. sliding radio switches ***/
/*** gender radio switch ***/
    .radioSwitch.genderSwitch .switch {
        background: none;
    }
/*** end. gender radio switch ***/


